.imageIcon,
.yellowBgIcon {
  position: absolute;
  right: -57px;
  bottom: 0;
  width: 777px;
  height: 877px;
}
.imageIcon {
  object-fit: contain;
}
.homeAboutContact {
  position: absolute;
  top: 11px;
  left: 172px;
  line-height: 28px;
  font-weight: 500;
  white-space: pre-wrap;
}
.image {
  position: absolute;
  top: 0;
  right: 0;
  width: 720px;
  height: 629px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-family: Raleway;
}
